<a href="https://colab.research.google.com/github/velosomn/datasciencecoursera/blob/master/criptotroxa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

import time

totimestamp = lambda s: np.int32(time.mktime(datetime.strptime(s, "%d/%m/%Y").timetuple()))

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')
!ls "gdrive/My Drive/Colab Notebooks/"

Mounted at /content/gdrive
 Antigo			       'Prova agosto 21'	 provinha.R
'Conversa com Helder.rtf'      'Prova agosto 21.rar'	'Results 2.xlsx'
'Conversa prova Gustavo.docx'   Prova.docx		 Results.xlsx
'Cópia de Prova (1).ipynb'     'Prova Fotos (1).ipynb'	 Simulado.ipynb
'Cópia de Prova.ipynb'	       'Prova Fotos.ipynb'	 Templates.ipynb
'Material Sabatina'	        Prova.ipynb		 Untitled
'Material Sabatina.rar'         Prova.pdf

In [ ]:
import zipfile
base_treino=0
with zipfile.ZipFile("gdrive/My Drive/Colab Notebooks/treinocompactado.zip", 'r') as zip_ref:
    base_treino = pd.read_csv(zip_ref.open('train.csv'))

In [ ]:
base_treino["dia_semana"]=pd.to_datetime(base_treino['timestamp'], unit='s').dt.dayofweek
base_treino['hora'] = pd.to_datetime(base_treino['timestamp'], unit='s').dt.hour

In [ ]:
base_treino.sample(100)

           timestamp  Asset_ID   Count  ...    Target  dia_semana  hora
7400147   1555687560         0   163.0  ...  0.009899           4    15
6706391   1552259940         0    15.0  ...  0.001622           6    23
1494456   1525126020        12     2.0  ... -0.000119           0    22
22354942  1624113600        13   263.0  ...  0.001225           5    14
9252030   1564327740         3    11.0  ...  0.000648           6    15
...              ...       ...     ...  ...       ...         ...   ...
3494799   1535833740         1   309.0  ... -0.000695           5    20
687178    1519866480         5    22.0  ... -0.001608           3     1
19009693  1609775580        12  1124.0  ...  0.032066           0    15
22622168  1625259540         8     9.0  ...  0.006585           4    20
18782442  1608801240         6   544.0  ... -0.000762           3     9

[100 rows x 12 columns]

In [ ]:
base_treino.shape

(24236806, 12)

# 1. Estruturar uma base por asset

In [ ]:
assets = {x: base_treino[base_treino.Asset_ID == x].drop('Asset_ID', axis=1) for x in base_treino.Asset_ID.unique()}

Exemplo :
    assets = {2:base_treino[base_treino.Asset_ID==2],3:base_treino[base_treino.Asset_ID==3]...}

In [ ]:
assets[0].head()

     timestamp  Count    Open    High  ...      VWAP    Target  dia_semana  hora
1   1514764860    5.0  8.5300  8.5300  ...  8.530000 -0.014399           0     0
9   1514764920    7.0  8.5300  8.5300  ...  8.520215 -0.015875           0     0
17  1514764980   45.0  8.5065  8.5299  ...  8.501394 -0.015410           0     0
25  1514765040   14.0  8.5009  8.5066  ...  8.479810 -0.012524           0     0
33  1514765100    5.0  8.5007  8.5007  ...  8.458435 -0.005940           0     0

[5 rows x 11 columns]

# 2. Tratamento inicial

## 2.1 Timestamp como index

In [ ]:
for asset in assets:
    assets[asset] = assets[asset].set_index('timestamp').sort_index()

In [ ]:
assets[0].head()

            Count    Open    High     Low  ...      VWAP    Target  dia_semana  hora
timestamp                                  ...
1514764860    5.0  8.5300  8.5300  8.5300  ...  8.530000 -0.014399           0     0
1514764920    7.0  8.5300  8.5300  8.5145  ...  8.520215 -0.015875           0     0
1514764980   45.0  8.5065  8.5299  8.4848  ...  8.501394 -0.015410           0     0
1514765040   14.0  8.5009  8.5066  8.4744  ...  8.479810 -0.012524           0     0
1514765100    5.0  8.5007  8.5007  8.4560  ...  8.458435 -0.005940           0     0

[5 rows x 10 columns]

## 2.2 Tratamento dos missings

In [ ]:
# Função para uso futuro

def preenche_missing():
    return 0

In [ ]:
for asset in assets:
    assets[asset] = assets[asset].reindex(range(assets[asset].index[0], assets[asset].index[-1] + 60, 60), method='pad').replace([np.inf, -np.inf], np.nan)

In [ ]:
assets[0].info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1956960 entries, 1514764860 to 1632182400
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Count       1956960 non-null  float64
 1   Open        1956960 non-null  float64
 2   High        1956960 non-null  float64
 3   Low         1956960 non-null  float64
 4   Close       1956960 non-null  float64
 5   Volume      1956960 non-null  float64
 6   VWAP        1956960 non-null  float64
 7   Target      1929248 non-null  float64
 8   dia_semana  1956960 non-null  int64
 9   hora        1956960 non-null  int64
dtypes: float64(8), int64(2)
memory usage: 149.3 MB

In [ ]:
for asset in assets:
    print(f'-----{asset}-----')
    print((assets[asset].index[1:] - assets[asset].index[:-1]).value_counts().head())

-----2-----
60    1956959
Name: timestamp, dtype: int64
-----0-----
60    1956959
Name: timestamp, dtype: int64
-----1-----
60    1956959
Name: timestamp, dtype: int64
-----5-----
60    1956959
Name: timestamp, dtype: int64
-----7-----
60    1956959
Name: timestamp, dtype: int64
-----6-----
60    1956959
Name: timestamp, dtype: int64
-----9-----
60    1956959
Name: timestamp, dtype: int64
-----11-----
60    1956959
Name: timestamp, dtype: int64
-----13-----
60    1903823
Name: timestamp, dtype: int64
-----12-----
60    1889287
Name: timestamp, dtype: int64
-----3-----
60    1803769
Name: timestamp, dtype: int64
-----8-----
60    1772153
Name: timestamp, dtype: int64
-----10-----
60    1770279
Name: timestamp, dtype: int64
-----4-----
60    1285046
Name: timestamp, dtype: int64

# 3. Criação de features

## 3.1 Features gerais - vai ter para todos assets

Fazer a construção de features usando funções, pra facilitar a aplicação nos assets

Features já existentes
* timestamp: All timestamps are returned as second Unix timestamps (the number of seconds elapsed since 1970-01-01 00:00:00.000 UTC). Timestamps in this dataset are multiple of 60, indicating minute-by-minute data.
* Asset_ID: The asset ID corresponding to one of the crytocurrencies (e.g. Asset_ID = 1 for Bitcoin). The mapping from Asset_ID to crypto asset is contained in asset_details.csv.
* Count: Total number of trades in the time interval (last minute).
* Open: Opening price of the time interval (in USD).
* High: Highest price reached during time interval (in USD).
* Low: Lowest price reached during time interval (in USD).
* Close: Closing price of the time interval (in USD).
* Volume: Quantity of asset bought or sold, displayed in base currency USD.
* VWAP: The average price of the asset over the time interval, weighted by volume. VWAP is an aggregated form of trade data.
* Target: Residual log-returns for the asset over a 15 minute horizon.

Ideias de features
* Dia da semana
* Feriados Americanos e Chineses
* Volatilidade exponencial - http://ferramentasdoinvestidor.com.br/gestao-de-risco/volatilidade-ewma-no-excel/
* Indice de força relativa
* Médias moveis
* Bandas de bollinger
* MACD
* Agulhada do DIDI - https://www.investimentonabolsa.com/2014/11/saiba-utilizar-agulhada-do-didi.html
* Analise de fourrier - https://journals.sagepub.com/doi/pdf/10.5772/56839
* Nuvens de ichimoku - https://www.investopedia.com/terms/i/ichimoku-cloud.asp
* numero de transações de bitcoin - observar interesse do publico em cripto

In [ ]:
#def media_movel_30(precos):
#    return precos.rolling(30).mean()

def media_movel(precos,intervalo):
    return precos.rolling(intervalo).mean()

In [ ]:
def get_bollinger_bands(dfbol, rate=30):
    sma = np.array(dfbol.rolling(rate).mean())
    std = np.array(dfbol.rolling(rate).std())
    boll_up =  sma + std * 2 # Calculate top band
    boll_down = sma - std * 2 # Calculate bottom band
    boll=np.zeros(dfbol.size)
    preco=np.array(dfbol)
    indexes = list(range(dfbol.size))
    for i in indexes:
        if boll_up[i]<preco[i]:
            boll[i]=1
        elif boll_down[i]>preco[i]:
            boll[i]=-1
        else:
            boll[i]=0
    return boll

In [ ]:
def agulhada_didi(dfagu):
    didi3 = np.array(dfagu.rolling(3).mean())
    didi8 = np.array(dfagu.rolling(8).mean())
    didi20 = np.array(dfagu.rolling(20).mean())
    Didi=np.zeros(dfagu.size)
    indexes = list(range(dfagu.size))
    for i in indexes:
        if ((didi3[i]>didi8[i]) & (didi8[i]>didi20[i])):
            Didi[i]=1
        else:
            Didi[i]=0
    return Didi

In [ ]:
    def MACD(dfmacd):
        exp1 = dfmacd.ewm(span=12, adjust=False).mean()
        exp2 = dfmacd.ewm(span=26, adjust=False).mean()
        diff = exp1-exp2
        diff_np=np.array(diff)
        exp3 = np.array(diff.ewm(span=9, adjust=False).mean())
        MACD=np.zeros(dfmacd.size)
        indexes = list(range(dfmacd.size))
        for i in indexes:
            if (diff_np[i]>=exp3[i]):
                MACD[i]=1
            else:
                MACD[i]=-1        
        return MACD

In [ ]:
def willR (dfw,dfhigh,dflow,bins):
    high = [np.array(dfhigh.rolling(bins).max(),dtype=float)-np.array(dfw,dtype=float)]
    low = [np.array(dfhigh.rolling(bins).max(),dtype=float)-np.array(dflow.rolling(bins).min(),dtype=float)]
    #
    willr = np.transpose(np.nan_to_num(np.true_divide(high,low,out=np.zeros_like(high), where=low!=0)*(-100)))
    
    willr_flag=np.zeros(dfw.size)
    indexes = list(range(dfw.size))
    for i in indexes:
        if (willr[i]>-20):
            willr_flag[i]=1
        elif (willr[i]<-80):
            willr_flag[i]=-1
        else:
            willr_flag[i]=0

    return willr,willr_flag

In [ ]:
def log_return(series, periods=1):
    return np.log(series).diff(periods=periods)

In [ ]:
for base in assets:
    
    #simple moving average
    assets[base]['SMA_30'] = media_movel(assets[base]['Close'],30)
    assets[base]['SMA_15'] = media_movel(assets[base]['Close'],15)
    
    #log simple moving average
    assets[base]['log_SMA_30'] = np.log(assets[base]['Close'].rolling(30).mean())
    assets[base]['log_SMA_15'] = np.log(assets[base]['Close'].rolling(15).mean())
    
    #log cumulative moving average
    assets[base]['log_CMA_30'] = np.log(assets[base]['Close'].expanding(30).mean())
    assets[base]['log_CMA_15'] = np.log(assets[base]['Close'].expanding(15).mean())
    
    #log exponential moving average
    assets[base]['log_EWM_30'] = np.log(assets[base]['Close'].ewm(span=30).mean())
    assets[base]['log_EWM_15'] = np.log(assets[base]['Close'].ewm(span=15).mean())

    #Bollinger
    assets[base]['boll_30'] = get_bollinger_bands(assets[base]['Close'],30)
    #DIDI Index
    assets[base]['Didi'] = agulhada_didi(assets[base]['Close'])
    #MACD
    assets[base]['MACD'] = MACD(assets[base]['Close'])
    #Williams R
    assets[base]['willr'],assets[base]['willr_flag'] = willR(assets[base]['Close'],assets[base]['High'],assets[base]['Low'],14)
    #Log do Retorno
    assets[base]["log_ret"]=log_return(assets[base]['Close'])[1:]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in true_divide
  """

In [ ]:
assets[0].sample(100)

            Count     Open     High  ...      willr  willr_flag   log_ret
timestamp                            ...
1520785320   31.0   7.9117   7.9350  ... -69.164265         0.0  0.001943
1522106220   91.0  12.2606  12.2887  ... -26.994407         0.0 -0.000179
1533949140    8.0  12.0251  12.0436  ... -37.691795         0.0  0.001529
1523308560   22.0  11.6803  11.6999  ... -52.622673         0.0 -0.001266
1581383100   45.0  24.9736  24.9875  ... -58.328497         0.0  0.000220
...           ...      ...      ...  ...        ...         ...       ...
1565994060  118.0  27.6394  27.6409  ... -90.204327        -1.0 -0.002601
1601577000  356.0  26.9927  27.0000  ... -36.695652         0.0 -0.002860
1539162120    6.0  10.3475  10.3475  ... -47.633136         0.0  0.000010
1555514880    4.0  19.5098  19.5231  ... -34.711965         0.0 -0.000067
1586581920   40.0  13.9873  13.9938  ...  -1.195219         1.0  0.000443

[100 rows x 24 columns]

## 3.2 Features específicas (opcionais)

### 3.2.1 BTC

### 3.2.1 ETH

# 4. Modelagem

## 4.1 Quebra de treino/validação/teste

In [ ]:
list_periodos = []

for asset in base_treino.Asset_ID.unique():
    maximo = base_treino[base_treino.Asset_ID == asset].timestamp.max()
    minimo = base_treino[base_treino.Asset_ID == asset].timestamp.min()
    list_periodos.append([asset,minimo,maximo])
    
df_periodos = pd.DataFrame(list_periodos, columns=['asset','min','max'])
df_periodos['min'] = pd.to_datetime(df_periodos['min'], unit='s')
df_periodos['max'] = pd.to_datetime(df_periodos['max'], unit='s')
df_periodos.sort_values('min')

    asset                 min        max
0       2 2018-01-01 00:01:00 2021-09-21
1       0 2018-01-01 00:01:00 2021-09-21
2       1 2018-01-01 00:01:00 2021-09-21
3       5 2018-01-01 00:01:00 2021-09-21
4       7 2018-01-01 00:01:00 2021-09-21
5       6 2018-01-01 00:01:00 2021-09-21
6       9 2018-01-01 00:01:00 2021-09-21
7      11 2018-01-01 00:01:00 2021-09-21
8      13 2018-02-06 21:37:00 2021-09-21
9      12 2018-02-16 23:53:00 2021-09-21
10      3 2018-04-17 09:11:00 2021-09-21
11      8 2018-05-09 08:07:00 2021-09-21
12     10 2018-05-10 15:21:00 2021-09-21
13      4 2019-04-12 14:34:00 2021-09-21

In [ ]:
from sklearn.preprocessing import StandardScaler

assets_scalers = {
    asset: StandardScaler() for asset in assets
}

In [ ]:
from tqdm import tqdm

DATA_CORTE = "21/08/2021"
DATA_CORTE_MIN = "13/04/2019"


# train_windows = {
#     asset: [totimestamp(df_periodos.loc[df_periodos['asset'] == asset, 'min'].dt.strftime('%d/%m/%Y').item()), totimestamp(DATA_CORTE)] for asset in assets
# }

train_windows = {
    asset: [totimestamp(DATA_CORTE_MIN), totimestamp(DATA_CORTE)] for asset in assets
}

test_window = [totimestamp(DATA_CORTE), totimestamp("21/09/2021")]

assets_train = {
    asset: {
        'features': assets_scalers[asset].fit_transform(
            assets[asset].drop('Target', axis=1).loc[train_windows[asset][0]:train_windows[asset][1]].fillna(preenche_missing())
            ),
        'target': assets[asset].loc[train_windows[asset][0]:train_windows[asset][1]]['Target'].fillna(preenche_missing())} for asset in tqdm(assets)
}

assets_test = {
    asset: {
        'features': assets_scalers[asset].transform(
            assets[asset].drop('Target', axis=1).loc[test_window[0]:test_window[1]].fillna(preenche_missing())
            ),
        'target': assets[asset].loc[test_window[0]:test_window[1]]['Target'].fillna(preenche_missing())} for asset in tqdm(assets)
}

NameError: ignored

In [ ]:
assets_train[8].shape

## 4.2 Modelo baseline

In [ ]:
class BaselineModel:
    def __init__(self):
        pass
    
    def fit(self, x_train, y_train):
        self.x_train = x_train
        self.y_train = y_train

    
    def predict(self, x):

## 4.3 Modelagem freestyle

# 5. Avaliação dos resultados